.card-info {
    position: relative;
    top: 65%;
    text-align: center;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 24px;
    width: 25%;
    padding: 8px;
    
    @media screen and (max-width: 600px){
        width: 100%;
    }
}


.location-card {
    margin-top: 40px;
    width: 50%;
    height: 200px;
    background-size: contain;
    transition: all .25s ease-in-out;
}

.location-card:hover {
    transform: translateY(-10px);
}